<div class="login_background">
  <div class="seat_top_out">
    <div class="seat_top_in">
      <p>「今日は仕事も休みだし、事前予約無しで自由参加で入退室自由の基本自習スタイルの勉強会に参加しようっと」</p>
      <p>そんなこと思ったことありませんか？</p>
      <p>同時にこんなことも思うかもしれません</p>
      <p>「家から勉強会が行われてるオフィスまで遠いんだよな、席は空いているかな」</p>
      <p>また、こんなことも思ってしまうかもしれません</p>
      <p>「今、仕事で〇〇を使い始めたのだが、よくわからない・・・。」</p>
      <p>「そういえば、〇〇が得意と言っていた〇〇さんは今日は勉強会に参加しているだろうか？」</p>
      <p>「・・・」</p>
      <p>以前、所属していた事業部主催の勉強会は毎週土曜のみ行われていたのですが、私はこんなことを思っていました</p>
      <p>どこにいてもリアルタイムでの現状が知りたい</p>
      <p>このアプリを使えば「今」どうなっているかわかります</p>
    </div>
  </div>
</div>
