<div class="relationship_index_out">
  <h1 class="headline headline_relationship_index">フォロー中学習者一覧画面</h1>
  <div class="relationship_index_table">
    <table>
      <tr>
        <% @relationshop_user.each do |relationshop_user|%>
        <td><%= relationshop_user.name%></td>
        <td><%= link_to "詳細", relationship_path(relationshop_user.id)%></td>
        <td><%= image_tag relationshop_user.image%></td>
      </tr>
        <%end%>
    </table>
  </div>
  <%= paginate(@relationshop_user) %>
</div>
