<h1>全リーダー一覧画面</h1>
  <table>
    <tr>
      <% @reader_all.each do |reader|%>
      <td><%=reader.name%></td>
      <td><%= link_to '詳細',reader_path(reader.id)%></td>
    </tr>
      <%end%>
  </table>
