<div class="all_seat_new_out">
    <h1 class="headline headline_all_seat_new">全座席数入力画面</h1>
    <%= render 'form' if AllSeat.first == nil%>
      <% if AllSeat.first.try(:number_of_seats)%>
        <%= link_to '全座席数を変更する',edit_all_seat_path(AllSeat.first.id)%>
        <%= link_to '全座席数をリセットする',all_seat_path(AllSeat.first.id),method: :delete,data:{confirm:"座席数をリセットします。よろしいですか？"}%>
      <%end%>
</div>
