// Place all the styles related to the all_seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all_seat_new_out{
  width:800px;
  height: 300px;
  margin:auto;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size: 2rem;
}
.headline_all_seat_new{
  width:340px;
}
.all_seat_new_out_link{
  padding-top:50px;

  font-size:3rem;
}
.all_seat_new_out_link span{
  padding:20px;
}
.all_seat_edit_out{
  width:800px;
  height: 300px;
  margin:auto;
  margin-bottom: 30px;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size: 2rem;
}
.headline_all_seat_edit{
  width:300px;
}
