/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  font-size:62.5%;
  height: 100%;
  /* background-color:#467; */
}
body{
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url('Screen-Shot.png');
}
header{
  margin-bottom: 50px;
  color:white;
  position: relative;
  z-index: 10;
  height: 100px;
  background-color: rgba(0,0,0,0.6);
}
.message{
  color:white;
  position: relative;
  z-index: 100;
  font-size: 2.5rem;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
}
.meg{
  color:white;
  text-align: center;
  font-size: 2.5rem;
  background-color: rgba(0,0,0,0.6);
}
nav{
  font-size: 2rem;
  height: 100px;
  position: relative;
  /* background-color:red; */
}
.real_time{
  height :90px;
  width :600px;
  /* background-color:#486; */
  position: absolute;
  right:0;
  top:0;
}
.header_url{
  height :50px;
  position: absolute;
  right:0;
  bottom:0;
  /* background-color: #330; */
}

.login_background-image{
  z-index: 1;
  margin-top:-150px;
  position: relative;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url('WeWork-101.jpg');
}

.login_form{
  color:white;
  font-size:2rem;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width :400px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);
}
.sign_form{
  color:white;
  font-size:2rem;
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
  width :400px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);
}
.field{
  padding: 7px;
}
