html{
  height: 100%;

  font-size:62.5%;
}
body{
  height: 100%;

  background-image:url('Screen-Shot.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

}
header{
  position: fixed;
  position: relative;
  z-index: 10;
  top: 0px;

  height: 110px;
  margin-bottom: 50px;

  color:white;
  background-color: rgba(0,0,0,0.7);
}
.alert {
  margin-bottom: 0px;
  padding: 0;

  background-color: rgba(0,0,0,0.7);
}
.message{
  position: relative;
  z-index: 100;

  text-align: center;

  color:white;
  background-color: rgba(0,0,0,0.7);

  font-size: 2.5rem;
}
.meg{
  margin-top: 10px;

  text-align: center;

  color:white;
  background-color: rgba(0,0,0,0.7);

  font-size: 2.5rem;
}
nav {
  position: relative;

  height: 110px;
  margin-right: 10px;

  color:white;

  font-size: 2rem;
}
.real_time{
  position: absolute;
  top: 10px;
  right: 0;

  width :300px;
}
.header_url{
  position: absolute;
  right:0;
  bottom:10px;

  width :300px;
  height :38px;

  background-color: rgba(0,0,0,0.7);
}
.header_url a{
  padding:10px;

  color:white;
}
.headline{
margin: 20px auto;

color: white;
border-bottom: double 5px white;

font-family:serif;

}
.headline_user_login{
  width:200px;
}
.login_form{
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;

  width :400px;
  height: 500px;
  margin: auto;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size:1.5rem;
  font-weight: bold;
}
.sign_form{
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;

  width :400px;
  height: 585px;
  margin: 120px auto 200px;
  padding:0 10px;
  box-sizing: border-box;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size:1.5rem;
  font-weight: bold;
}
.input{
  color:white;
}
input[type=submit] {
  border-style: solid;
  background-color: black;
}
input[type = file]{
  margin:auto;

  color:white;

}
label{
  color:white;
}
.field{
  padding: 7px;
}
.footer_area{
  height: 90px;

  background-color: rgba(0,0,0,0);
}
footer{
  position: fixed;
  z-index: 100;
  bottom: 0;

  width: 100%;
  height: 40px;

  text-align: center;

  color: white;
  background-color: rgba(0,0,0,0.7);
}
ul{
  margin: 0;
  padding: 0;

  list-style-type: none;

  color: #fff;
}
ul#menu li{
  position: relative;

  display: block;
  float: left;

  width: 300px;
  margin: 0;
  padding: 5px;

  background-color: rgba(0,0,0,0.7);
}
ul.child{
  position: absolute;

  display: none;

  margin-left: -5px;
  padding: 0;
}
ul.child li a{
  display: block;

  margin-right: -5px;
  margin-bottom: -5px;
  margin-left: -5px;
  padding: 5px 10px;

  color: #fff;
}
li a:hover{
  background-color: rgba(0,0,0,0.7);
}
li.top_sp_menu {
  text-align: right;
}
.pc_only{
  display: block;
}
.sp_only{
  display: none;
}
  @media screen and (max-width:768px) {
    .pc_only{
      display: none;
    }
    .sp_only{
      display: block;
    }
    nav {
      font-size: 1.8rem;
    }
    .real_time {
      width: 265px;
    }
    .sign_form {
      top: 5px;
      width: 310px;
      height: 485px;
    }
    .login_form{
      top:40px;
      width: 310px;
      height: 350px;
    }
    .field {
      padding: 3px;
      box-sizing: border-box;
    }
    h2{
      font-size:20px;
    }
    .login_background {
      height: 100vh;
  }
}
