// Place all the styles related to the learners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.learner_index_out{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size: 2rem;
}
.headline_learner_index{
  width:330px;
}
.learner_index_table{
  margin-bottom: 50px;

  text-align: center;
}
.learner_index_table table{
  margin-right:auto;
  margin-left:auto;

}
.learner_index_table td{
  padding: 30px;
}
.learner_index_table img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.learner_show_out{
  margin-bottom:80px;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size:2rem;

}
.headline_learner_show{
  width:300px;
}
.learner_show_out img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
p.learner_show_word-wrap{
  padding: 10px;

  word-wrap: break-word;
}
