// Place all the styles related to the learningTimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.learning_times_new_out{
  width:800px;
  height: 300px;
  margin-right:auto;
  margin-bottom: 30px;
  margin-left:auto;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size: 2.5rem;
  font-weight: bold;
}
