// Place all the styles related to the readers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reader_index_out{
  margin-right:auto;
  margin-left:auto;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size: 2rem;
  font-weight: bold;
}
.reader_index_table{
  width:900px;
  margin-right:auto;
  margin-bottom: 50px;
  margin-left:auto;

  text-align: center;
}
.reader_index_table td{
  width: 300px;
}
.reader_index_table img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.reader_show_out{
  margin: auto;
  margin-bottom:80px;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size:1.5rem;
  font-weight: bold;
}
.reader_show_out img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
p.reader_show_word-wrap{
  padding: 10px;

  word-wrap: break-word;
}
