// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.relationship_index_out{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size: 2rem;
}
.headline_relationship_index{
  width:500px;
}
.relationship_index_table{
  margin-bottom: 50px;

  text-align: center;
}
.relationship_index_table table{
  margin-right:auto;
  margin-left:auto;

}
.relationship_index_table td{
  padding:30px;
}
.relationship_index_table img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.relationship_show_out{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size:2rem;
}
.headline_relationship_show{
  width:420px;
}
.relationship_show_out img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.relationship_show_out table{
  width:600px;
  margin:auto;

  table-layout: fixed;
}
.relationship_show_out th{
  width:170px;

  text-align: center;
}
.relationship_show_out td{
  width:500px;

  word-wrap: break-word;
}
