// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.relationship_index_out{
  color:white;
  text-align: center;
  font-size: 2rem;
  width:auto;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);
  margin-bottom:80px;
}
.relationship_index_table{
  text-align: center;
  height: auto;
  width:800px;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(255,255,255,0.3);
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
}
.relationship_index_table td{
  padding: 30px;
}
.relationship_index_table img{
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
.relationship_show_out{
  color:white;
  margin: auto;
  font-size:1.5rem;
  height:auto;
  width:800px;
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);
  margin-bottom:80px;
}
.relationship_show_out img{
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
p.relationship_show_word-wrap {
  word-wrap: break-word;
  padding: 10px;
}
