// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat_index{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size: 2rem;
  font-weight: bold;
}
.index_table{
  margin-right:auto;
  margin-bottom: 50px;
  margin-left:auto;

  text-align: center;

  border: solid 3px #000000;
  background-color: rgba(255,255,255,0.3);

  font-weight: bold;
}
.index_table th,td{
  padding: 15px;

  text-align: center;
}
.vacancy_table td{
  width:110px;

  text-align: center;

  paddig:15px;
}
.seat_top_out{
  height: 100%;

  text-align: center;

  color: white;
  background-color: rgba(0,0,0,0.5);
}
.seat_top_in{
  padding: 150px;
}
