// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat_index{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size: 2rem;
}
.headline_seat_index{
  width:400px;
}
.seat_index table{
  margin:auto;
}
.seat_index th{
  text-align: center;
  width:250px;
}
.seat_index td{
  width:250px;
}
.vacancy_table table {
  margin:auto;
}
.vacancy_table th {
  text-align: center;
  width:250px;

}
.vacancy_table td {
  width:250px;

}
.seat_top_out{
  height: 100%;

  text-align: center;

  color: white;
  background-color: rgba(0,0,0,0.7);
}
.headline_seat_top{
  width:auto;

  font-size:4rem;
}
.seat_top_in{
  padding: 150px;
}
