// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat_index{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size: 2rem;
}
.headline_seat_index{
  width:400px;
}
.index_table_in{
  width: auto;
  margin-right:auto;
  margin-left:auto;

}
.index_table_in th,td{
  padding: 15px;

  text-align: center;
}
.index_table_in td{
  width:200px;

  text-align: center;

  paddig:15px;
}
.seat_top_out{
  height: 100%;

  text-align: center;

  color: white;
  background-color: rgba(0,0,0,0.5);
}
.headline_seat_top{
  width:auto;

  font-size:4rem;
}
.seat_top_in{
  padding: 150px;
}
