// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_show_out {
  color:white;
  margin: auto;
  font-size:2rem;
  width:auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);
  margin-bottom:30px;
}
p.user_show_word-wrap {
  padding: 10px;
  word-wrap: break-word;
}
.user_show_out img{
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
.user_edit_out{
  color:white;
  height: auto;
  margin: auto;
  font-size:1.5rem;
  width:auto;
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);
  margin-bottom:30px;
}
.user_edit_error_msg{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:30px;
}
