// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_show_out {
  width:auto;
  height: auto;

  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size:2rem;
  font-weight: bold;
}
p.user_show_word-wrap {
  padding: 10px;

  word-wrap: break-word;
}
.user_show_out img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.user_edit_out{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.5);

  font-size:1.5rem;
  font-weight: bold;
}
.user_edit_out div{
  padding: 10px;
}
.user_edit_error_msg{
  margin-bottom:30px;

  text-align: center;

  background-color: rgba(0,0,0,0.6);

  font-size:2rem;
}
