// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_show_out {
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size:2rem;
}
.headline_user_show{
  width:500px;
}
.user_show_out img{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.user_show_out table{
  width:600px;
  margin:auto;

  table-layout: fixed;
}
.user_show_out table th{
  width:190px;
  padding: 15px;

  text-align: center;
}
.user_show_out table td{
  width:500px;

  word-wrap: break-word;
}
.user_edit_out{
  text-align: center;

  color:white;
  border: solid 3px #000000;
  background-color: rgba(0,0,0,0.7);

  font-size:2rem;
}
.user_show_out p{
  padding:10px;
}
.headline_user_edit{
  width:420px;
}
.user_edit_out div{
  padding: 10px;
}
.user_edit_error_msg{
  margin-bottom:30px;

  text-align: center;

  background-color: rgba(0,0,0,0.7);

  font-size:2rem;
}
.user_edit_out .input{
  padding:10px;

  color:black;
}
.user_edit_out input[type = file]{
  margin:auto;

  color:white;

}
.user_edit_out input[type = submit]{
  border-style: none;
}
.user_edit_out label{
  width:200px;
  margin-right:20px;

  color:white;
}
